/*Font de google*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
}

boyd{
    width: 100%;
}

.logosite {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 80px;
    background-color: #E3E6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0px;
    left: 0px;
}

.itemnav{
    display: flex;
    flex: 1;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.nav li {
    list-style: none;
    padding: 0 20px;
}

.nav a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #1a1a1a;
}

.nav a:hover {
    color: #1E00FF;
}

.maintext {
    background-image: url('../img/landing2.jpeg');
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 95vh;
    width: 100%;
    background-size: cover;
    background-position: top 5% center;
    padding: 0 80px;
    margin-bottom: 40px;
}

.maintextcontent{
    width: 50%;
    font-size: 1.5rem;
    color: #73FF82;
    text-align: right;
}
.maintextcontent h1{
    font-size: 3rem;
    margin-bottom: 20px;
    color: #2761F5;
}
.maintextcontent{
    button{
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: 600;
        color: #fff;
        background-color: #2761F5;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

.contenedorp{
    width: 80%;
    display: grid;
    grid-template-columns: auto, auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.grid1{
    grid-column: 1;    


}
.grid2{
    grid-column: 2;

}

grid1 img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
}


@media (max-width: 768px) {
    .maintext {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .maintextcontent {
        width: 100%;
        font-size: 1.2rem;
    }

    .contenedorp {
        grid-template-columns: 1fr;
    }

    .articulos {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 350px);
    }

}

.articulos {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows:  repeat(2, 350px) ;
  gap: 24px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  button{
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: 600;
        color: #fff;
        background-color: #2761F5;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

.art1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}

.art2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;

}
.art3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}

.art4 {
  grid-column: 1 / 2;
  grid-row: 2 / 2;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}

.art5 {
  grid-column: 2 / 3;
  grid-row: 2 / 2;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}

.art6 {
  grid-column: 3 / 4;
  grid-row: 2 / 2;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}

.detail{
    text-align: center;
    font-size: 1.5rem;
    color: #2761F5;
    margin-bottom: 2px;
}
.detaart{
    font-size: 1.2rem;
}

.detaart11{
    background-color: red;
}

.detaart12{
    background-color: blue;
}